@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button-primary {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 9px 15px;
  border-radius: 4px;
  background-color: #83B3D3;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  line-height: normal;
}

.header-button {
  margin-left: 20px;
  padding-left: 25px;
  padding-right: 25px;
  width: 160px;
  height: 37px;
  background-color: #756257;
}

.booking-button {
  background-color: #756257;
}

.reset-button {
  color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

:root {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #F2F2F2;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding: 0;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

p, h1, h2, h3, h4, img {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.booking-heading, .subscribe-heading, .reasons-heading {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 240px;
  padding-right: 240px;
  text-transform: uppercase;
}

span {
  display: block;
}

input {
  border: none;
  margin: 0;
}

button {
  border: none;
}

fieldset {
  padding: 0;
  margin: 0;
}

.navigation, .navigation-list, .user-actions {
  display: flex;
}

.search path:hover {
  fill: #756257;
}

.search path:active {
  fill: #756257;
  opacity: 0.3;
}

.favorites path:hover {
  fill: #756257;
}

.favorites path:active {
  fill: #756257;
  opacity: 0.3;
}

.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  min-height: 65px;
  padding: 0 70px;
}

.navigation-list {
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}

.favorites {
  position: relative;
}

.favorite-counter {
  position: absolute;
  padding: 3px;
  top: -8px;
  text-align: center;
  left: 10px;
  background-color: #7DB54F;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -1px;
}


.button-primary:hover {
  background: #615048;
}

.button-primary:focus {
  border-radius: 4px;
  border: 3px solid #83B3D3;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.30);
}

.navigation-link {
  display: block;
  padding: 17px;
}

.navigation-item-active {
  position: relative;
}

.navigation-item-active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.30);
}

.user-actions {
  align-items: center;
  justify-self: end;
}

.intro {
  min-height: 485px;
  background: url("../images/background/mask-background.svg") no-repeat 50% 100%,
    url("../images/background/main-background.png") no-repeat center;
  margin-bottom: 63px;
}

.welcome-img {
  padding: 51px 371px 82px 371px;
}
.reasons {
  margin-bottom: 91px;
}

.reasons, .booking, .subscribe {
  text-align: center;
}

.reasons-heading {
  margin-bottom: 31px;
}

.reasons-item, .reasons-item-large {
  background: rgba(131, 179, 211, 0.12);
}

.reasons-item:not(.reasons-item-large), .reason-wrapper {
  padding: 60px;
}

.reasons-item:not(.reasons-item-large):nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.reasons-text {
  color: #333;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 163.636%;
}

.reasons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.reasons-item-title, .reasons-item-number {
  margin-bottom: 30px;
}

.reasons-item-large {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  background-color: #83B3D3;
}

.reasons-item-large > img {
  grid-column: span 2;
}

.reasons-item-large:nth-child(2) .reasons-image {
  order: -1;
}

.reasons-item-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.features-list {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  background: white;
}

.features-item {
  padding: 79px 75px;
}

.home-feature {
  background: url("../images/icons/home.svg") no-repeat;
  background-position: center 25%;
}

.food-feature {
  background: url("../images/icons/food.svg") no-repeat;
  background-position: center 25%;

}

.souvenirs-feature {
  background: url("../images/icons/souvenirs.svg") no-repeat;
  background-position: center 25%;
}

.features-item-title {
  padding-top: 89px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
  text-transform: uppercase;
}

.features-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.booking-heading {
  margin-bottom: 29px;
}

.booking-text {
  margin-bottom: 56px;
  padding: 0 240px;
  font-size: 22px;
  line-height: 118%;
}

.booking-button {
  display: block;
  font-size: 20px;
  line-height: 125%;
  max-width: 575px;
  margin: 0 auto 93px;
}

.subscribe {
  color: white;
  background: url("../images/background/background.png") no-repeat center;
}

.subscribe-heading {
  padding-top: 94px;
  margin-bottom: 29px;
  color: inherit;
}

.subscribe-text {
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 118%;
}

.subscribe-form {
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  font-size: 18px;
  line-height: 125%;
  border-radius: 10px 0 0 10px;
  padding-left: 22px;
  padding-right: 19px;
  height: 60px;
  width: 559px;
}

.subscribe-input:hover {
  background-color: #E6E6E6;
}

.subscribe-input:focus {
  border: 3px solid #83B3D3;
}

.subscribe-input:invalid {
  border: 2px solid #FF5757;
}

.subscribe-button {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0px;
  width: 200px;
  height: 60px;
  background-color: #83B3D3;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  border: 3px solid #756257;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.social-list {
  display: flex;
  align-items: center;
  padding-left: 72px;
}

.social-link {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  fill: #83b3d3;
  margin: 2px;
}

.social-link:hover {
  fill: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}

.social-link:focus {
  outline: 3px solid #83b3d3 !important;
  outline-offset: -3px;
}

.phone {
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  justify-self: center;
  border-radius: 10px;
  padding: 15px;
}

.phone:hover {
  color: #756257;
}

.phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3 !important;
  outline-offset: -3px;
}

.phone:active {
  opacity: 0.3;
}

.developer {
  justify-self: end;
  margin-right: 72px;
  padding: 16px 22px;
  border-radius: 10px;
}

.developer:hover {
  fill: #756257;
}

.developer:active {
  fill: #756257;
  opacity: 0.3;
}

.developer:focus {
  fill: #756257;
  outline: 3px solid #68a2ca !important;
  outline-offset: -3px;
}

.subscribe-catalog {
  color: black;
  background: none;
}


/*catalog.html*/

.main-header {
  padding: 35px 72px 80px;
  color: white;
  background: url("../images/background/catalog-background.png") no-repeat;
}

.breadcrumbs {
  margin-bottom: 45px;
  display: flex;
  /*gap: 26px;*/
}


.breadcrumbs-item:first-child::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 8px;
  background: url("../images/icons/nav-link.svg") no-repeat;
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs-item > a {
  font-size: 16px;
  color: white;
}

.filters-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 223px;
  justify-content: space-between;
  gap: 17px;
}

.filters-title {
  margin-bottom: 30px;
}

.filter-button {
  margin-bottom: 20px;
}

.filter-item {
  margin-bottom: 13px;
}

.control {
  display: flex;
}

.filter-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range-field {
  display: grid;
  grid-template-columns: 1fr 44px;
}

.filter-group-price {
  margin-left: 96px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.filter-button:hover {
  background: #68a2ca;
}

.filter-button:focus {
  background: #68a2ca;
  outline: 3px solid white !important;
  outline-offset: -3px;
}

.filter-button:active {
  opacity: 0.3;
}

.reset-button {
  border-radius: 4px;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 3px solid #83B3D3 !important;
  outline-offset: -3px;
}

.reset-button:active {
  opacity: 0.3;
}

.min-range-field, .max-range-field {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
  height: 48px;
  padding: 14px 0 11px 19px;
  background: transparent;
  font: inherit;
  color: white;
  border: 2px solid white;
}

.min-range-field {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-range-field {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-title {
  grid-column: -2/-1;
  grid-row: 1/2;
  color: inherit;
  opacity: 0.3;
  place-self: center;
}

.range {
  grid-column: 1/-1;
}

.range-scale {
  position: relative;
  top: 32px;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 227px;
  height: 4px;
  background-color: white;
}

.toggle-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
}

.toggle-button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.toggle-button:focus {
  outline: 3px solid #83B3D3 !important;
  outline-offset: -3px;
}

.toggle-button:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.40);
  outline: 2px solid #83B3D3 !important;
  outline-offset: -2px;
}

.toggle-min {
  bottom: -8px;
  left: -10px;
}

.toggle-max {
  bottom: -8px;
  right: -10px;
}

.results {
  padding: 0 72px;
}

.results-sort {
  gap: 80px;
  padding: 44px 0;
  align-items: center;
  width: 1057px;
  display: grid;
  grid-template-columns: 1fr 287px max-content;
}

.sort-method {
  width: 100%;
  height: 48px;
  font: inherit;
  font-size: 18px;
  padding: 12px 19px;
  background: url("../images/icons/arrow.svg") no-repeat;
  background-position: right 20px center;
  border: 2px solid #E6E6E6;
  appearance: none;
}

.results-view {
  display: flex;
  gap: 8px;
}

.view-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
}

.view-button:hover {
  border: 2px solid #83B3D3;
}

.view-button:focus {
  border: 2px solid #83B3D3;
}

.view-button:active, .view-button-active {
  border: 2px solid black;
}

.tile-mode {
  background: url("../images/icons/mode-tile-1.svg") no-repeat center;
}

.slide-mode {
  background: url("../images/icons/mode-slideshow.svg") no-repeat center;
}

.list-mode {
  background: url("../images/icons/mode-list.svg") no-repeat center;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.catalog-item {
  padding: 20px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.catalog-item-photo, .catalog-item-title {
  grid-column: 1/-1;
}

.catalog-item-photo:hover {
  opacity: 0.6;
}

.catalog-item-photo:focus {
  outline: 3px solid #83B3D3 !important;
  outline-offset: -3px;
  opacity: 1;
}

.catalog-item-photo:active {
  opacity: .3;
}

.catalog-item-rating, .catalog-item-description, .catalog-item-buttons {
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.catalog-item-buttons, .catalog-item-description {
  gap: 26px;
}

.button-more {
  background-color: #756257;
}

.button-favorite:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257 !important;
  outline-offset: -1px;
}

.button-favorite:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257 !important;
  outline-offset: -3px;
}

.button-favorite:active {
  outline: 1px solid #756257 !important;
  outline-offset: -1px;
  opacity: 0.3;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  outline: 3px solid #68A2CA !important;
  outline-offset: -3px;
}

.button-more:active {
  opacity: 0.3;
}

.favorite {
  background-color: #7DB54F;
}

.favorite:hover {
  background-color: #6C9E42;
}

.favorite:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257 !important;
  outline-offset: -3px;
}

.favorite:active {
  opacity: 0.3;
}

.rating-text {
  background-color: #F2F2F2;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
  padding: 9px 15px;
  text-transform: uppercase;
  border-radius: 4px;
}

.stars-rating {
  display: flex;
  align-items: center;
  gap: 7px;
}

.star {
  width: 18px;
  height: 17px;
  background: url("../images/icons/star.svg") no-repeat;
}

.show-more {
  min-width: 620px;
  display: block;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
}

.button-more-wrapper {
  width: 100%;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-list, .pagination-label, .pagination-wrapper {
  display: flex;
  align-items: baseline;
}

.pagination-list {
  gap: 8px;
}

.pagination-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pagination-link {
  display: flex;
  color: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  background-color: #83b3d3;
  text-align: center;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257 !important;
  outline-offset: -3px;
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-active {
  background-color: #F2F2F2;
  color: black;
}

.catalog-subscribe-input {
  background-color: #F2F2F2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.80);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search-hotel {
  width: 715px;
}

.modal-title {
  margin-bottom: 32px;
}

.modal-booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.label-small, .label-large {
  display: flex;
}

.input-field {
  grid-column: 2/-1;
  background-color: #F2F2F2;
  font: inherit;
  font-weight: 700;
  border-radius: 4px;
}

.modal-booking > label {
  margin-bottom: 40px;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  font: inherit;
  padding-top: 14px;
  padding-left: 19px;
  padding-bottom: 14px;
}

.departure-field, .visit-field {
  width: 420px;
}

.children-field, .elders-field {
  width: 133px;
}

.modal-button {
  grid-column: 1/-1;
}
